# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata

## Other
*.xccheckout
*.moved-aside
*.xcuserstate

#CocoaPods
Pods/
Asset/appicon
Asset/appicon.png
Asset/appicon_.psd
Asset/clock-original.png
Asset/clock-selected-original.png
Asset/iTunesArtwork.png
Asset/iTunesArtwork@2x.png
Asset/more-original.png
Asset/more-selected-original.png
