<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DRST manager.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DRSTDataKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>DRSTKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>DRSTm Widget.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A91166CE1C12AD9200383CFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A91166D71C12AD9200383CFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A928DC591C0466680017F554</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A928DC621C0466680017F554</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A93E28D01C005E9C009342F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A93E28E51C00615B009342F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9BF25431C12FFD000A3E2A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9BF254C1C12FFD000A3E2A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9BF25671C13010800A3E2A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9BF25701C13010800A3E2A5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D955531BFF748300B583B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D9556F1BFF748300B583B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A9D9557A1BFF748300B583B4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
